@import "variables";
@import "~bulma/bulma.sass";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~animate.css/animate.min.css";

.h-100 {
  height: 100%;
}

.card-icon {
  text-align: center;
  font-size: 7.5rem;
}

.pointer {
  cursor: pointer;
}

.section {
  padding-top: 0;
}
